{% extends 'base.html.twig' %}

{% block body %}
<p><a href="/order/list"><button type="button" class="btn btn-primary">Back to Orders List</button></a></p> <br />
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Edit Order: #{{order.id}}</h1>
    </div>
<p>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}


</P>
{% endblock %}