{% extends 'base.html.twig' %}

{% block body %}
<p><a href="/order/list"><button type="button" class="btn btn-primary">Back to Order List</button></a></p> <br />
<br />

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Order: #{{order.id}}</h1>
    </div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-xs-6 col-md-10">
            <ul class="list-group">
        <li class="list-group-item">Customer: {{order.customerName}}</li>
        <li class="list-group-item">Quantity: {{order.quantity}}</li>
        <li class="list-group-item">Total Price: &euro;{{order.totalPrice}}</li>
        {% if order.orderStatus == 1 %}
        <li class="list-group-item list-group-item-warning">In Progress</li>
        {% elseif order.orderStatus == 2 %}
          <li class="list-group-item list-group-item-info">Sent</li>
       {% elseif order.orderStatus == 3 %}
          <li class="list-group-item list-group-item-success">Deliverred</li>
      {% elseif order.orderStatus == 4 %}
          <li class="list-group-item list-group-item-danger">Cancelled</li>
        {% endif %}
    </ul>            
  </div>

</div>
    </div>
    <div class="col">
      <ul class="list-group">

    </div>
  </div>



{% endblock %}