{% extends 'base.html.twig' %}

{% block body %}

       <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Welcome to my Simple Little Shop! <br />  I sell home made items.</h1>
      <p class="lead">Items Available To Order</p>
    </div>

<table class="table table-striped">

<tr>
{% for item in items if item.available == 1 %}
<td>
 <div class="container">
      <div class="card-deck mb-2 text-center">
       <div class="card mb-2 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{item.name}}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted">&euro;{{item.price}}</small></h1>
           <a href="/order/create/{{item.id}}"> <button type="button" class="btn btn-lg btn-block btn-outline-primary">Order</button></a><br /><a href="/item/view/{{item.id}}"><button type="button" class="btn btn-success">View</button></a>
          </div>
       </div>
  </div>
</div>
</td>
{% endfor %}
</tr>


</table>

{% endblock %}
